form {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
}

select { 
   width: 14rem;
   height: 2.3rem;
}

.city-submit {
   display: flex;
   width: 14rem;
   height: 2.3rem;
}

input [type= 'submit'] {
   width: inherit
}