* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-image: url('/public/rainy.jpg');
  height: 120vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  max-width: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-weight: 400;
}

.App {
  overflow-x: hidden;
}

header {
  text-align: center;
  width: 15rem;
  margin: 2rem auto;
}

.box {
  background-color: #00000085;
  max-width: 500px;
  border-radius: 0.5rem;
  /* border: 0.2rem solid #757373; */
  padding: 2rem;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  width: 15rem;
}

.fade-down {
  opacity: 0;
  animation: fade-down-animation 1s ease-in-out forwards;
}

@keyframes fade-down-animation {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  font-size: 1.8rem;
  width: 15rem;
}

h2 {
  font-size: 1.3rem;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

select {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  box-shadow: none;
  font-size: 16px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 14rem;
}

select::after {
  content: "\25BC"; /* Unicode para la flecha hacia abajo */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.city-submit {
  display: flex;
  width: 14rem;
  height: 2.3rem;
}

.city-input {
  background-color: #333;
  color: #fff;
  border: none;
  box-shadow: none;
  font-size: 16px;
  width: 11rem;
}

.submit {
  width: 5rem;
  border: none;
}

.submit:hover {
  background-color: #535151;
}

.description {
  color: #cddc39;

  font-weight: bold;
  font-size: 1.3rem;
  margin: 0.3rem;
}

.icon {
  width: 40px;
  height: 40px;
  padding: 1rem 0.5rem;
}

.sun {
  color: #c09b44;
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cloud {
  color: gray;
  animation: move 2s ease-in-out infinite;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.snow {
  color: #a0b8b7;
  animation: fade 3s ease-in-out infinite;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.humidity {
  font-size: 1.1rem;
  font-weight: bold;
  color: #8892cd;
}

.temp {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 1rem 0.5rem;
}

.marker {
  height: auto;
  padding: 0.3rem;
}

.water {
  height: auto;
  padding: 0.3rem;
  animation: colorate 2s linear infinite;
}

@keyframes colorate {
  0% {
    color: #fff;
  }
  75% {
    color: #8892cd;
  }
  100% {
    color: #162577;
  }
}

.flex-row {
  display: flex;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.error-msg {
  background-color: #ad2626;
  padding: 0.5rem;
  font-weight: 600;
  border-radius: 0.2rem;
}

.min {
  width: 15px;
  height: 15px;
  margin: 0.2rem;
  color: #6a8596;
}

.max {
  width: 15px;
  height: 15px;
  margin: 0.2rem;
  color: #ad2626;
}

.min-max {
  font-weight: bold;
}

/* Loader Component Styles */

.lds-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid white;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: white transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}